/*Goole-Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
} 

.lh{
  color: #000;
}

html,
body{
  scroll-behavior: smooth;
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.responsive {
  width: 100%;
  height: auto;
}

/* a{
	text-decoration: none;
  color: #eee;
}

a:hover{
	text-decoration: none;
	color: #eee;
} */
:root{
  --duration: 80s;
}

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {
  background-color: #fff;
  bottom: 700px;
  width: 100%;
  overflow: hidden;
  height: 3rem;
  padding-left: 100%;
  box-sizing: content-box;
}
  .ticker{

    display: inline-block;
    height: 2rem;
    line-height: 4rem;  
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite; 
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
   -webkit-animation-name: ticker;
           animation-name: ticker;
    -webkit-animation-duration: var(--duration);
            animation-duration: var(--duration);
  }
    .item {

      display: inline-block;
     bottom: 5px;
      padding: 0 2rem;
      font-size: 2rem;
      color: white;   
    }
.ticker__item{
   color: #002c6e;
}

nav {
	position: fixed;
	z-index: 10;
	left: 0;
	right: 0;
	top: 0;
	font-family: 'Montserrat', sans-serif;
	padding: 0 5%;
  height: 50px;
  width: 100%;
	background-color:	#002c6e;
	/* box-shadow: 0 0 5px rgba(0,0,0,.5); */
}
nav .logo {
	float: left;
	width: 40%;
	height: 100%;
	display: flex;
	align-items: center;
	font-size: 24px;
	color: #fff;
}
nav .links {
  text-align: center;
	float: right;
	width: 60%;
	padding: 0;
	margin: 0;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
nav .links a {
	display: block;
	padding: 0 8px;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
  text-decoration: none;
}
nav .icon-burger {
	display: none;
	position: absolute;
	right: 5%;
	top: 50%;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	outline: none;
  transform: translateY(-50%);
  color: #000;
}
nav .icon-burger .line {
	display: block;
	width: 30px;
	height: 5px;
	background-color: #fff;
	margin: 5px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
}
nav .icon-burger .line:nth-child(3) {
	margin-top: -10px;
}
@media screen and (max-width: 1194px) {
  nav .logo {
		float: none;
		width: auto;
	}
	nav .links {
    float: none;
    position: fixed;
    display: block;
		z-index: 9;
		left: 200%;
    right: -200%;
		top: 50px;
		bottom: 0;
width: 150px;
		height: 330px;
		flex-direction: column;
		justify-content: start;
		background-color: #002c6e;
		overflow: clip;
		box-sizing: content-box;
    transition: all .5s ease-in-out;
    margin-left: auto;
  }
	nav .links li {
		padding: .5em 0;
	}
	nav .links a {
		font-size: 12px;
    transform: translateX(100px);
		transition: all .3s ease-in-out;
	}
	nav .icon-burger {
		display: block;
	}
	.nav-opened nav .links {
		left: 0;
		right: 0;
	}
	.nav-opened nav .links a {
		transform: translateX(0);
	}
	.nav-opened nav .links li:nth-child(1) a {
		transition-delay: 0s;
	}
	.nav-opened nav .links li:nth-child(2) a {
		transition-delay: .1s;
	}
	.nav-opened nav .links li:nth-child(3) a {
		transition-delay: .2s;
	}
	.nav-opened nav .links li:nth-child(4) a {
		transition-delay: .3s;
	}
	.nav-opened nav .links li:nth-child(5) a {
		transition-delay: .4s;
  }
  .nav-opened nav .links li:nth-child(6) a {
		transition-delay: .4s;
  }
  .nav-opened nav .links li:nth-child(7) a {
		transition-delay: .4s;
  }
  .nav-opened nav .links li:nth-child(8) a {
		transition-delay: .4s;
  }
  .nav-opened nav .links li:nth-child(9) a {
		transition-delay: .4s;
	}
	.nav-opened nav .icon-burger .line:nth-child(1),
	.nav-opened nav .icon-burger .line:nth-child(4) {
		transform: scale(0);
	}
	.nav-opened nav .icon-burger .line:nth-child(2) {
		transform: rotate(45deg);
	}
	.nav-opened nav .icon-burger .line:nth-child(3) {
		transform: rotate(-45deg);
	}
	.nav-opened .container {
		transform: translateX(-30%);
    opacity: .3;
  }
}

@media screen and(max-width:330){
   .foot{
      display: none;
   }
}

.vid{
  height: auto;
  width: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* overflow: hidden; */
}

.a{
  display: flex;
  flex-direction:coloumn  wrap;
  text-decoration: underline;
  background-color: #002c6e;
  width: 150px;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  margin-left: 60px;
}
a:hover{
  text-decoration: underline;
}

.b{
  display: flex;
  flex-direction:coloumn  wrap;
  text-decoration: underline;
  background-color: #002c6e;
  width: 150px;
  margin-top: 15px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  margin-left: 60px;
}
b:hover{
  text-decoration: underline;
}


.c{
  display: flex;
  flex-direction:coloumn  wrap;
  text-decoration: underline;
  background-color: #002c6e;
  width: 150px;
  margin-top: 15px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  margin-left: 60px;
}
c:hover{
  text-decoration: underline;
}

.d{
  display: flex;
  flex-direction:coloumn  wrap;
  text-decoration: underline;
  background-color: #002c6e;
  width: 150px;
  margin-top: 15px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  margin-left: 60px;
}
d:hover{
  text-decoration: underline;
}

.e{
  display: flex;
  flex-direction:coloumn  wrap;
  text-decoration: underline;
  background-color: #002c6e;
  width: 150px;
  margin-top: 15px;
  padding: 10px;
  color: #fff;
  font-weight: 600;
  margin-left: 60px;
}
e:hover{
  text-decoration: underline;
}

/* Slideshow container*/

.slideshow-container{
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 50%;
}

/* @media screen and (max-width:768 ){
   .slideshow-container{
      height: 100px;
   }
} */
/* Caption text*/

.text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}
/* Number text (1/3 etc)*/

.numbertext{
  color: #002c6e;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators*/
.dots{
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
} 
.dot{
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active{
  background-color: #717171;
}
/* Fading animation*/

.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{
    opacity: .4;
  }
  to{
    opacity: 1;
  }
}

@keyframes fade{
  from{
    opacity: .4;
}
  to{
    opacity: 1;
}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px){
  .text{
    font-size: 11px;
  }
}
/*Hero*/

a{
    text-decoration: none;
}

.container-1{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero{
  position: relative;
  z-index: 1;
}

#hero::after{
content: '';
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
z-index: -1;
}

#hero .hero{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  justify-content: flex-start;
}

#hero h1{
  text-transform: uppercase;
  display: block;
  width: fit-content;
  font-size: 5.3vw;
  text-align: center;
  position: relative;
  color: transparent;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}

#hero .wt
{
  text-align: center;
  margin-left: 50px;
}

#hero h1:nth-child(1){
  animation-delay: 1s;
}

#hero h1:nth-child(2){
  animation-delay: 2s;
}

#hero h1:nth-child(3){
  animation-delay: 3s;
}

#hero h1 span{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #002c6e;
  animation: text_reveal_box 1s ease;
  animation-delay: .5s;
}

#hero h1:nth-child(1) span{
 animation-delay: .5s;
}

#hero h1:nth-child(2) span{
  animation-delay: 1.5s;
}

#hero h1:nth-child(3) span{
  animation-delay: 2.5s;
}

@keyframes text_reveal_box{
  50%{
      width: 100%;
      left: 0;
  }
  100%{
      width: 0;
      left: 100%;
  }
}

@keyframes text_reveal{
  100%{
      color: #002c6e;
  }
}


/*About Section*/
.about-section{
  width: 100%;
	background: #f1f1f1;
	padding: 40px 0;
}

.inner-width{
	max-width: 1000px;
	overflow: hidden;
	padding: 0px 20px;
	margin: auto;
}

.about-section h3{
  text-align: center ;
}

.border{
	width: 100px;
	height: 3px;
	background: #002c6e;
  margin: 40px auto; 	
  float: left;
}


#logo{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  left: 900px;
}

.about-section-row{
	display: flex;
	flex-wrap: wrap;
}

.about-section-col{
	flex: 50%;
}

.about-section-col #us{
  text-align: center;
}

.about-section-col #lo{
  right: 10px;
}

.about{
	padding-right: 30px;
}

.about p{
	text-align: justify;
	margin-bottom: 20px;
}


.skills{
	padding-left: 30px;
}

.skill{
	margin-bottom: 10px;
}

.progress{
	width: 100%;
	height: 12px;
	background: #ddd;
	border-radius: 12px;
}

.progress-bar{ 
	height: 12px;
	background:#002c6e;
	border-radius: 12px;
}

.p1{
	width: 100%;
}

.progress-bar span{
	float: right;
	margin-right: 6px;
	line-height: 13;
	color: #ffffff;
	font-size: 12px;
}

@media screen and (max-width:700px){
	.about-section-col{
        flex: 100%;
	}
    .about,.skills{
		padding: 0;
	}
	.about{
		text-align: center;
	}
}

@media screen and(max-width: 1314){
   .about-section-col{
      width: 100%;
   }
}

@media screen and(max-width: 1248){
  .about-section-col{
     width: 100%;
  }
}

@media screen and(max-width: 425){
  .about-section-col{
     float: left;
     text-align: center;
     padding-left: 0;
     margin-left: 0;
     height: 200px;
  }
}
/*About Section 2*/
.card_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.card{
    width: 250px;
    height: 170px;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease;
}

.resp{
  max-width: 100%;
  height: auto;
}

.card_details h4{
  text-align: center;
  font-family: 'Open Sans Condensed',Arial, Helvetica, sans-serif;
}

.card_details p{
  text-align: center;
  font-family: 'Open Sans Condensed',Arial, Helvetica, sans-serif;
}

.card:hover{
   background-color: #002c6e;
}

.card:hover h4{
    color: #eee;
}

.card:hover h4 strong{
   color: #000;
}

.card:hover p{
  color: #eee;
}

.card p{
  color: #002c6e;
}

.card h4{
  color: #002c6e;
}

.card h4 strong{
  color: #000;
}

/*News*/
.card-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.card-{
    width: 300px;
    height: auto;
    background-color: #002c6e;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s ease;
}

.card-:hover{
  background-color: #fff;
}

.card-:hover .card-details .date{
   color: #002c6e;
}

.card-:hover .card-details .heading{
  color: #002c6e;
}
.card-:hover .card-details .p{
  color: #002c6e;
}
.card-:hover .card-details a{
  color: #002c6e;
  text-decoration: underline;
}

.card-details .date{
  color: #fff;
}
.card-details .heading{
  color: #fff;
  font-weight: bold;
}
.card-details .p{
  color: #fff;
}
.card-details a{
  color: #fff;
  text-decoration: underline;
}
/* 
#logo{
   margin-left: ;
} */

/*Services Section*/
.header{
  width: 90%;
  /* margin: 0 auto; */
}
.header > h1{
  font-weight: 300 !important;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 10px;
  font-size: 3em; 
}

.container-15{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.services{margin-top: 30px;}
.service{
   background-color: #002c6e;
   margin: 10px;
   padding: 15px 5px;
   text-align: center;
   overflow: hidden;
   position: relative;
   transition: background-color 0.3s ease-in, transform 0.3s ease-in;
   width: 200px;
}

.service:hover{
   background-color: #fff;
   transform: translateY(-3px);
}

.service:hover .tittle a{
  color: #002c6e;
  text-decoration: none;
}

.service:hover .des a{
  color: #002c6e; 
}

.service::before{
  content: "";
  position: absolute;
  top: -35px;
  right: -40px;
  border-width: 20px;
  border-style: solid;
  border-color: #222f3e #222f3e rgba(0,0,0,0.4) #2c4159;
  transition: right 0.3s ease-out,
              top 0.3s ease-out;
}

.service:hover::before{
   top: 0;
   right: 0;
} 

.tittle a{
  color:#fff;
}

.service:hover .ex{
  background-color: #fff;
}

.ex{
   background-color: #fff;
}

/*Footer*/
.footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-direction: wrap;
  padding: 10px;
  color: #fff;
  width: 100%;
  height: 150%;
  background: #002c6e;
}

.footer > *{
  flex: 1 100%;
}

.l-footer{
  margin-right: 1.25em;
  margin-bottom: 2em;
}

.footer ul{
   list-style: none;
   padding-left: 0;
}

.footer li{
  line-height: 2em;
}

.lin{color: white;}

.footer h2{
  font-size: 1rem;
}

.footer a{
  text-decoration: none;
  color:  #fff;
} 
h2 i{ 
  color:  #fff;
}

.footer a:hover{
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}

.b-footer h1{
   font-size: 1rem;
}
 
.footer .ih{
  text-decoration: none;
  color: #fff;
  top: 20px;
}

.footer .ih:hover{
  text-decoration: none;
  color: #fff;
  transition: .5s ease;
}
 
@media screen and (max-width: 1000px){
  .footer{
      flex-flow: row wrap;
  }
}

.us form{
  margin-right: 300px;
}

.form-control{
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  color: #fff;
  font-size: 18px;
}

.us form input{
  width: 400px;
}

form .submit{
   background: #002c6e;
   border-color: none;
   color: #fff;
   font-size: 20px;
   font-weight: bold;
   letter-spacing: 2px;
   transition: .3s ease all;
}

form .submit:hover{
  background-color: #fff;
  color: #002c6e;
  cursor: pointer;
}

.ex{
  background-color: #fff;
  color:black;
  border-radius: 5px;
  border: 1px solid #fff;
  text-decoration: underline;
} 

.contact-tittle{
color: #fff;
transition: all 4s ease-in-out;
}

.contact-tittle h1{
  font-size: 32px;
  line-height: 10px;
}

/* Others */
.Email h1{
	width: 10%;
	color: black;
  transition: 1s ease;
  text-align: center;
  left: 20px;
}

.Email p{
    color:#002c6e;
	transition: 1s ease;
	color:#002c6e;
}

.arrow-btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9;
}

.arrow-btn a{
    height: 39px;
    width: 37px;
    text-align: center;
    background: #002c6e;
    display: block;
    border-radius: 3px;
    cursor: pointer ;
}

.arrow-btn a span{
    color: #f2f2f2;
    line-height: 39px;
    font-size: 25px;
}


.profile{
	font-family: 'Dosis',sans-serif;
	font-style: italic;
}

.head{
	font-weight: bold;
}

.profile .showhide{
	padding: 5px;
	background-color: #000000;
	box-shadow: none;
	border: 2px solid black;
}

.profile .showhide:hover{
	opacity: 0.4;
   text-decoration: none;
   background-color: #002c6e;
   border: 2px solid #002c6e;
}


.cta{
	height: 50px;
	width: 200px;
	padding: 10px;
	border: 3px solid #002c6e;
	text-align: center;
	color: black;
	font-size: 22px;
	transition: .5s;
}

.cta:hover{
	background-color: #002c6e;
	color: white;
	text-decoration: none;
}

.head{
	font-size: 22px;
	text-align: center;
}

.body{
	font-size: 1rem;
	text-align: center;
	color: #000;
}

.Port{
    width:100%;
	height: 650px;
	background:#002c6e;
}

.port #hero {
   left: 300;
}

.market .card{
    left: 5pc;
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 10px 10px 20px #000;
}

.market .card p{
   color: black;
   font-size: x-large;
   font-family: 'Dosis',sans-serif;
}

.market .card h1{
  color: black;
  font-size: xx-large;
  font-family: 'Dosis',sans-serif;
}

.form1{
  display: none;
}
.form2{
  display: none;
}

#aus{
  width: 100%;
}

.edit{
  font-family: 'Dosis',Arial, Helvetica, sans-serif;
  width: 50%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.bgimg {
  background-color: #fff;
  height: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

hr {
  margin: auto;
  width: 40%;
  color: #000;
}

#demo{
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}

.hi{
  padding: 10px;
   text-align: justify;
   font-size: 20px;
   font-family: Arial;
}

.Hi{
  text-align:justify;
  font-weight: bold;
  font-size: 26px;
  font-family:Arial;
  padding: 10px;
}

.container-6 {
  width: 100%;
  height: 100%;
}
.confetti {
width: 7.5px;
height: 7.5px;
background-color: #f2d74e;
position: absolute;
left: 50%;
animation: confetti 10s ease-in-out -2s infinite;
transform-origin: left top;
}
.confetti:nth-child(1) {
background-color: #f2d74e; left: 10%; animation-delay: 0;
}
.confetti:nth-child(2) {
background-color: #95c3de; left: 20%; animation-delay: -5s;
}
.confetti:nth-child(3) {
background-color: #ff9a91; left: 30%; animation-delay: -3s;
}
.confetti:nth-child(4) {
background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
}
.confetti:nth-child(5) {
background-color: #95c3de; left: 50%; animation-delay: -4s;
}
.confetti:nth-child(6) {
background-color: #ff9a91; left: 60%; animation-delay: -6s;
}
.confetti:nth-child(7) {
background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
}
.confetti:nth-child(8) {
background-color: #95c3de; left: 80%; animation-delay: -2s;
}
.confetti:nth-child(9) {
background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
}
.confetti:nth-child(10) {
background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
}
.confetti:nth-child(11) {
  background-color: #f2d74e; left: 10%; animation-delay: 0;
  }
  .confetti:nth-child(12) {
  background-color: #95c3de; left: 20%; animation-delay: -5s;
  }
  .confetti:nth-child(13) {
  background-color: #ff9a91; left: 30%; animation-delay: -3s;
  }
  .confetti:nth-child(14) {
  background-color: #f2d74e; left: 40%; animation-delay: -2.5s;
  }
  .confetti:nth-child(15) {
  background-color: #95c3de; left: 50%; animation-delay: -4s;
  }
  .confetti:nth-child(16) {
  background-color: #ff9a91; left: 60%; animation-delay: -6s;
  }
  .confetti:nth-child(17) {
  background-color: #f2d74e; left: 70%; animation-delay: -1.5s;
  }
  .confetti:nth-child(18) {
  background-color: #95c3de; left: 80%; animation-delay: -2s;
  }
  .confetti:nth-child(19) {
  background-color: #ff9a91; left: 90%; animation-delay: -3.5s;
  }
  .confetti:nth-child(20) {
  background-color: #f2d74e; left: 100%; animation-delay: -2.5s;
  }
@keyframes confetti {
0% { transform: rotateZ(15deg) rotateY(0deg) translate(0,0); }
25% { transform: rotateZ(5deg) rotateY(360deg) translate(-5vw,20vh); }
50% { transform: rotateZ(15deg) rotateY(720deg) translate(5vw,60vh); }
75% { transform: rotateZ(5deg) rotateY(1080deg) translate(-10vw,80vh); }
100% { transform: rotateZ(15deg) rotateY(1440deg) translate(10vw,110vh); }
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  align-items: center;
  justify-content: center;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #002c6e;
  color: white;
  transform: rotateY(180deg);
}

.about-us{
  width: 100%;
  height: 100%;
  bottom: 10px;
}

.about-us .flip-card{
  display: block;
  margin-left: auto;
  margin-right: auto 
}

.h h1{
  font-size: 30px;
}
.h h2{
  font-size: 18px;
}

.cent{
   margin-left: 100px;
}

.bta{
   padding: 10px;
   border: 2px solid rgb(255, 0, 0);
   font-size: 1rem;
   transition: 1s ease;
   bottom: 20px;
}

.btm a{
   color: red;
}

.bta:hover{
   background-color: red;
}

.btm a:hover{
  text-decoration: none;
  color: white;
}

ul .nad{
  list-style-type:none;
  margin:10;
  padding:10;
}
li .il{
  display:inline;
}

.bug div p{
  float: left;
  margin-right: auto;
  width: 50%;
}

.news{
   height: 300px;
   width: auto;
   background-color: red;
}